/* UNIVERSAL */
:root {
    --header: clamp(25px, 2rem, 50px);
    --subtitle: clamp(16px, 1.2rem, 25px);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
    aspect-ratio: 1/1;
}
section {
    margin: 0;
    padding: .5em;
}
/* UNIVERSAL */


/* || HERO PAGE || */
#hero-section {
    border: 5px solid gold;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    height: 100dvh;
    max-height: 100dvh;
    padding: 0;
    overflow-x: hidden;
}
    .hero_intro {
        border: 5px solid black;
        display: flex;
            align-items: center;
            justify-content: center;
    }
        /* Name and tagline */
        /* Name */
        #hero_intro1 {
            flex-direction: column;
                gap: 1em;
            box-sizing: border-box;
                width: 100%;
                padding: .5em 0;
        }
            #quick-intro {
                border: 5px dashed red;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1em;
                width: clamp(150px, 80vw, 350px);
                height: clamp(150px, 80vw, 350px);
            }
                .name_background {
                    border: 5px dotted silver;
                    display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    box-sizing: border-box;
                        width: 100%;
                        height: 50%;
                }
                    #name_background1 {
                        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
                    }
                    #name_background2 {
                        border-radius: 0 0 50% 50% / 0 0 100% 100%;
                    }
                        .name {
                            margin: 0;
                            font-size: var(--header);
                        }
                            #name_eng {
                                width: 80%;
                                text-align: center;
                            }
                            #name_zh {
                                writing-mode: vertical-lr;
                            }
    /**/
        /* Tagline */
        #tagline {
            border: 5px dashed orange;
            display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            box-sizing: border-box;
                padding: .3em;
        }
            .tagline_item {
                font-size: var(--subtitle);
                margin: 0;
                padding: .3em;
                line-height: .5;
            }
        /**/
        /*   */
    
    /* Resume and socials */
    /* Socials */
    #quick-contact_socials {
        border: 5px solid rgb(177, 177, 0);
        display: flex;
            align-items: center;
            justify-content: center;
    }
        .quick-contact {
            border: 5px dotted violet;
            display: flex;
                align-self: center;
                justify-content: center;
        }
    /**/
    /* Resume */
    #quick-resume {
        border: 3px dotted green;
        display: flex;
            align-items: center;
            justify-content: center;
    }
        #quick-resume_icon-wrapper {
            border: 3px solid brown;
        }
            #quick-resume_icon {
                max-width: 30px;
            }
    /**/
    /*   */
/* ||   || */